* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, p, h1, h2, h3, h4, button, span {
    font-family: 'Roboto', sans-serif;
    color: #231f20;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.section--heading {
    display: block;
    width: 100vw;
    padding-left: 1rem;
    padding-top: 2rem;
    margin-bottom: 1.5rem;

    background: #493932;
    color: #ece8d3;
    font-size: 2rem;
}

/* HEADER */

.header--container {
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    background: #fcfcf7;
    box-shadow: 0 1px 3px lightgray;
}

.burger--menu {
    width: 2rem;
    height: 2rem;

    background: none;
    border: none;
}

.burger__icon {
    font-size: 2rem;
}

.menu {
    position: absolute;
    width: 80vw;
    height: 100vh;
    top: 60px;
    left: -80vw;

    background: #493932;
}

.menu--links--container {
    list-style-type: none;
}

.menu__link {
    display: block;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ece8d3;
    
    color: #ece8d3;
    font-size: 1.2rem;
}

.has__submenu {
    width: 100%;

    background: none;
    border: none;
    border-bottom: 1px solid #ece8d3;
    text-align: left;
}

.submenu {
    padding: 0.5rem 1rem;

    background: #ece8d3;
    list-style-type: none;  
}

.submenu__heading {
    margin-left: 2rem;
    margin-top: 1rem;

    color: #493932;
}

.submenu__link {
    padding: 0.5rem 2rem;
    display: block;
    
    color: #493932;
}

.cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: #231f20;
}

.cart__icon {
    font-size: 2rem;
    text-align: center;
}

.cart--numb--items {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: -0.3rem;
    margin-top: -0.3rem;
    position: absolute;
    align-self: flex-start;
    border-radius: 1rem;

    background: #E34040;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.1rem;
    text-align: center;
}

.placeholder--header {
    height: 60px;  
    display: block ;
}

/* MAIN CONTAINER */

.main--container {
    width: 100vw;
}

.body--container {
    position: relative;
    background: #fcfcf7;
}

.campaigns--container {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.campaigns--learnmore {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem;
    
    background: #8e793e;
    text-align: center;
}

.campaigns--learnmore__body {
    color: #ece8d3;
    font-weight: bold;
    font-size: 1.6rem;
}

.learn-more__btn {
    height: 40px;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;

    background: none;
    border: 2px solid #ece8d3;
    font-size: 16px;
    font-weight: 300;
    color: #ece8d3;
    cursor: pointer;
}

.learn-more--icon__btn {
    width: 40px;
    height: 38px;
    margin-right: -1px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    background: #ece8d3;
    color: #8e793e;
    font-size: 20px;
    font-weight: bold;
}

.campaigns--freeshipping {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ece8d3;
}

.campaigns--freeshipping__heading {
    text-align: center;
    margin-bottom: 1rem;
    color: #493932;
}

.campaign--code {
    padding: 0.2rem;
    border-radius: 5px;
    background: #fcfcf7;
    border: 2px dashed #E34040;
}

.campaigns--newproducts {
    padding: 1.5rem;
    background: #231f20;
}

.campaigns--newproducts__heading {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    color: #8e793e;
    text-align: center;
    border: 3px solid #8e793e;
}

.newproducts--container {
    width: 100%;
}


/* PRODUCTS PAGE */
.product--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.8rem;
}

.number--products {
    padding-left: 1rem;
}

/* CART PAGE */
.loader--container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;

    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
}

.fadeInAnimation {
    animation-name: fadeInAnimation;
    animation-duration: 1s;
}

@keyframes fadeInAnimation {
    100% {opacity: 1;}
}

.loader {
    width: 15vw;
    height: 15vw;
    margin-top: 20vh;
    border-radius: 50%;

    border-top: 7px solid #8e793e;
    border-bottom: 7px solid #8e793e;
    
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cart--hasProducts {
    margin-bottom: 1rem;

    font-weight: normal;
}

.product-card--cart:last-child {
    margin-bottom: 1rem;
}

.cart-items--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart--subtotal {
    width: 90vw;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: #ffffff;
    box-shadow: 0 0 5px gray;
    border-radius: 0.5rem;
}

.checkout__btn {
    width: 90vw;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;

    background: #8e793e;
    color: #ffffff;
    font-size: 1.3rem;
    border: none;
    border-radius: 3rem;
}


/* PRODUCT CARD */
.product-card--mainstyles {
    background: #ffffff;
    box-shadow: 0 0 5px gray;
    border-radius: 0.5rem;
}

.product--card {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    overflow: hidden;
}

.product--card.small--card {
    width: 45vw;
    grid-template-rows: 40vw 1fr;
    margin-bottom: 1rem;
}

.product--card__img {
    max-height: 40vw;
}

.product--card__info--container {
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product--card--heading {
    margin-bottom: 0.2rem;

    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.product--card--brand {
    margin-bottom: 0.6rem;

    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.product--card--price {
    margin-bottom: 0.6rem;

    font-size: 1rem;
}

.product--card--addtocart__btn {
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;

    background: none;
    border: 2px solid #8e793e;
    font-size: 16px;
    font-weight: 300;
    color: #8e793e;
    cursor: pointer;
}

.cart--icon__btn {
    width: 40px;
    height: 38px;
    margin-right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    background: #8e793e;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

/* PRODUCT CARD IN CART */
.product-card--cart {
    width: 90vw;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 25vw minmax(0, 1fr);
    grid-template-rows: 25vw;
    overflow: hidden;
}

.product-card--cart__info--container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
}

.product-card--cart--price {
    font-size: 20px;
    font-weight: 300;
    align-self: flex-end;
}

.delete-product__btn {
    width: 2rem;
    height: 2rem;
    margin-right: -1.8rem;
    margin-top: -1.8rem;
    position: absolute;
    align-self: flex-end;
    
    border-radius: 2rem;
    background: #E34040;
    color: #ffffff;
    border: none;
}

/* MESSAGES */
.messages {
    width: 100vw;
    height: 4.7rem;
    display: none;
    flex-direction: row;
    padding: 1rem;
    position: fixed;
    bottom: -4.7rem;

    color: #ffffff;

    animation-name: messageAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.error--msg {
    display: flex;
    background: #E34040;
}

.success--msg {
    display: flex;
    background: #82c46a;
}

.msg__icon {
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

/* FOOTER */

.footer--container {
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    background: #493932;
}

.footer--links--container {
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.footer--links--container a {
    color: #ece8d3;
}

.footer--heading {
    margin-bottom: 1rem;

    color: #ece8d3;
    font-size: 16px;
    font-weight: bold;
}

.footer--links {
    list-style-type: none;
}

    .footer--links li {
        line-height: 1.5rem;
    }

.contact--links {
    display: flex;
    flex-direction: row;
}

.social-media--container {
    display: flex;
    font-size: 2rem;
}

.payment--links {
    display: flex;
    flex-direction: row;

    color: #ece8d3;
    font-size: 1.5rem;
}

.payment--links li:not(:last-child) {
    margin-right: 1rem;
}

.copy {
    width: 100%;
    color: #ece8d3;
    font-size: 0.8rem;
}


/* ANIMATIONS */ 
.menu--slide_in {
    animation-name: menuAnimationSlideIn;
    animation-duration: 0.7s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}

.menu--slide_out {
    animation-name: menuAnimationSlideOut;
    animation-duration: 0.7s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}

.body--slide_in {
    animation-name: bodyAnimationSlideIn;
    animation-duration: 0.7s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}

.body--slide_out {
    animation-name: bodyAnimationSlideOut;
    animation-duration: 0.7s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}

@keyframes menuAnimationSlideIn {
    from {left: -80vw;}
    to {left: 0;}
}

@keyframes menuAnimationSlideOut {
    from {left: 0;}
    to {left: -80vw;}
}

@keyframes bodyAnimationSlideIn {
    from {left: 0;
        opacity: 1;}
    to {left: 80vw;
        opacity: 0.3;}
}

@keyframes bodyAnimationSlideOut {
    from {left: 80vw;
        opacity: 0.3;}
    to {left: 0;
        opacity: 1;}
}

@keyframes messageAnimation {
    0% {bottom: -4.7rem;}
    50% {bottom: 0;}
    100% {bottom: 0;}
}

.hidden {
    display: none;
}